
*{  
  box-sizing: border-box;  
}  
body{  
  margin: 0;  
  font-family: "Poppins", sans-serif;  
  background-color: linear-gradiet(300deg, #a8b9db, #52e0e0);  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  min-height: 100vh;  
  flex-direction: column;  
}  
input{  
  padding: 1.2rem;  
  border-radius: 10px;  
  border: none;  
  background-color: #fff;  
  font-family: inherit;  
  box-shadow: 0 4px 7px rgba(0,0,0,0.2);  
  min-width: 300px;  
  font-size: 1rem;  
}  
input:focus{  
  outline: none;  
}  
.weather{  
  text-align: center;  
  font-size: 1rem ;  
}  
.weather h2{  
  margin-bottom: 0;  
  display: flex;  
  align-items: center;  
} 